extends layout

block content
  h1= title
  script(src='/socket.io/socket.io.js')
  script(src='/js/lib/adapter.js')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src='/js/meeting.js')
  script(src='/js/room.js')
  link(rel='sytlesheet', type='text/css', href='/css/room.css', media='screen')
  style
    #videosWrapper {vertical-aligin : middle;}
  a#exit-btn(href='/') 방 나가기
  fieldset(id='faceCall')
        legend(id='face') 화상 통화
          div(class='container')
            div(id='videos')
              div(id='videosWrapper', style='{display: table; width: 100%;}')
                div(id='localVideoWrap', class='videoWrap', style='{ display: table-cell; vertical-align: middle;}')
                  video(class='videoBox', id='localVideo', autoplay)
      
    
  fieldset
    legend 채팅 내용
    #chat-list
      for chat in chats
      
        if chat.user === user
          .mine(style='color:' + chat.user)
            div= chat.id
            if chat.gif
              img(src='/gif/' + chat.gif)
            else
              div= chat.chat
        else if chat.user === 'system'
          .system
            div= chat.chat
        else
          .other(style='color:' + chat.user)
            div= chat.id
            if chat.gif
              img(src='/gif/' + chat.gif)
            else
              div= chat.chat
  form#chat-form(action='/chat' method='post' enctype='multipart/form-data')
    label(for='gif') GIF 올리기
    input#gif(type='file' name='gif' accept='image/gif')
    input#chat(name='chat')
    button(type='submit') 전송
  script(src='/socket.io/socket.io.js')
  script(src='/annyang.js')
  script.
     var socket = io.connect('https://localhost:443/chat', {
     transports: [ 'websocket']
    });
    var user_lang = #{ findlang };
    //안양 모듈 실행 setlanguage로 사용자 언어로 변환
      annyang.setLanguage(user_lang.lang);
      annyang.start({ autoRestart: true, continuous: true });
      var recognition = annyang.getSpeechRecognizer();
      var final_transcript = '';
      recognition.interimResults = true;
      recognition.onresult = function(event) {
      var interim_transcript = '';
      final_transcript = '';
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
          console.log("final_transcript="+final_transcript);
          //annyang.trigger(final_transcript); //If the sentence is "final" for the Web Speech API, we can try to trigger the sentence
          } else {
          interim_transcript += event.results[i][0].transcript;
          console.log("interim_transcript="+interim_transcript);
        }
      }
      // 번역 결과를 서버에 전송
      if (final_transcript) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
        if (xhr.status === 200) {
          final_transcript = '';
        } else {
          console.error(xhr.responseText);
        }
        };
        xhr.open('POST', '/room/#{room._id}/chat');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ chat: final_transcript }));
      }
    };
    // 다른 사용자가 채팅방에 입장 한 경우 
    socket.on('join', function (data) {
      var div = document.createElement('div');
      div.classList.add('system');
      var chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    //다른 사람이 채팅방에서 나간 경우
    socket.on('exit', function (data) {
      var div = document.createElement('div');
      div.classList.add('system');
      var chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    //채팅방에 채팅이 올라온 경우
    socket.on('chat', function (data) {

      var needchat = data.chat.split('=');
      var needindex = needchat.findIndex(function(e){
        return e== user_lang.lang;
      });
      needchat = needchat[needindex+1];
      var div = document.createElement('div');
      //올라온 채팅이 내가 말한 내용이면 우측에 아니면 좌측에 게시
      if (data.user === '#{user}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }
      var name = document.createElement('div');
      name.textContent = data.id;
      div.appendChild(name);
      if (needchat) {
        var chat = document.createElement('div');
        chat.textContent = needchat;
        div.appendChild(chat);
      } else {
        var gif = document.createElement('img');
        gif.src = '/gif/' + data.gif;
        div.appendChild(gif);
      }
      div.style.color = data.user;
      document.querySelector('#chat-list').appendChild(div);
      document.querySelector('#chat-list').scrollTop = document.querySelector('#chat-list').scrollHeight;
    });

    
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          if (xhr.status === 200) {
            e.target.chat.value = '';
          } else {
            console.error(xhr.responseText);
          }
        };
        xhr.open('POST', '/room/#{room._id}/chat');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ chat: this.chat.value }));
      }
    });
    document.querySelector('#gif').addEventListener('change', function (e) {
      var formData = new FormData();
      var xhr = new XMLHttpRequest();
      console.log(e.target.files);
      formData.append('gif', e.target.files[0]);
      xhr.onload = function () {
        if (xhr.status === 200) {
          e.target.file = null;
        } else {
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/room/#{room._id}/gif');
      xhr.send(formData);
    });



